<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./public/index_appSt.css">
  <head>
    <title>Bot Index Activity</title>
  </head>
  <body>

    <div class="container">
      <header>
        INDEX
      </header>
      <div class="row">
        <div class="bio_box">
          <object>{{#avatar}}</object>
            <h3>{{#name}}</h3>
            <p>{{#job}}, {{#company}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
